.td-pres .tamasha-slide-content {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align:center;
}

.td-pres .tamasha-slide-content{
	font-weight:500;
}

.td-pres .tamasha-slide-content .title{ /* used with vanilla template*/
    font-size:1.5em; 
/*    font-size:40pt; */
    line-height:1.5em;
    font-weight:500;
    margin-top: 0;
}

.td-pres .tamasha-slide-content ol,
.td-pres .tamasha-slide-content ul{
	text-align:left;
}
/* ---------- code ---------- */
.td-pres .tamasha-slide-content  code,
.td-pres .tamasha-slide-content  pre {
	/* font-size:0.9em; */
	font-size:11pt;    
	line-height:1.2em;
	text-align:left;
}

/* ---------- tables ---------- */
.td-pres .tamasha-slide-content table td,
.td-pres .tamasha-slide-content table th {
	font-size:0.8em;
	font-weight:400;
}

.td-pres .tamasha-slide-content table caption {
	caption-side:top;
	font-size:1em;
	margin-bottom:0.2rem;
}

.td-pres .tamasha-viewer-nav .tamasha-toolbar-separator {
	background-color: #38404a;
}

.td-pres .tamasha-nav-button svg {
    fill: #38404a;
}
.td-pres .tamasha-nav-button svg :hover {
    fill: #adbac7;
}
.td-pres .tamasha-number-circle {
    border: 0.1em solid #38404a;
    color: #4f92e6;
}

/* Allow presentation body to scroll */
.td-pres .tamasha-overlay {
    z-index: 1;
    overflow-y: scroll;
}
.td-pres .tamasha-slide-number {
    position: fixed;
}
.td-pres .tamasha-viewer-nav {
    position: fixed;
}
.td-pres .tamasha-slide-content {
    max-width: 1060px;
}

.td-pres c {
	display:none;
}

.td-pres .tamasha-slide-content code, .td-pres .tamasha-slide-content pre {
    font-size: 0.8em !important;
}
